body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	background-color: #1f2937;
	justify-content: space-between;
}

body {
	font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}

.logo-link {
	display: flex;
	font-weight: bold;
	font-size: 24px;
	color: #f9faf8;
	margin-left: 128px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #f9faf8;
}

button {
	display: flex;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 32px 8px 32px;
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: 8px;
	border-color: #3882f6;
	margin-top: 8px;
}

.right-links {
	display: flex;
	font-size: 18px;
	color: #e5e7eb;
	gap: 16px;
	padding-right: 128px;
}

/* Main Text */

.header-body {
	display: flex;
	background-color: #1f2937;
	padding-bottom: 70px;
}

.container {
	display: flex;
}

.header-body .container .left-text {
	width: 35%;
}

.header-body .container .left-text .sub-text {
	width: 70%;
}

.left-text {
	padding-left: 128px;
	width: 70%;
	margin: 48px;
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

.sub-text {
	font-size: 18px;
	font-weight: normal;
	color: #e5e7eb;
}

/* Right Text */

.right-text {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f9faf8;
	font-size: 18px;
	background-color: gray;
	opacity: 0.7;
	padding: 0 120px 0 120px;
	margin: 60px;
}

/* Info Body */

.info-title {
	display: flex;
	justify-content: center;
	padding: 48px 0 16px 0;
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

/* Border Box */
.boxes {
	color: #1f2937;
	font-size: 18px;
	display: flex;
	justify-content: center;
	margin: 25px 300px 25px 300px;
	gap: 50px;
	max-width: 100%;
}

.square {
	display: flex;
	width: 100px;
	height: 100px;
	padding: 8px;
	border: 4px solid;
	border-color: #3882f6;
	border-radius: 16px;
}

/* Quote Section */
.container-two {
	display: flex;
	justify-content: center;
	background-color: #e5e7eb;
	padding: 100px 150px 0 150px;
}

.quote {
	max-width: 760px;
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: #1f2937;
}

.author {
	display: flex;
	font-weight: bold;
	justify-content: flex-end;
	padding: 0 350px 50px 0;
	background-color: #e5e7eb;
}

/* Sign-up Section */
.container-three {
	padding: 85px 85px;
}

.call {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 90px 0 90px;
	padding: 20px 50px 30px 0;
	color: #f9faf8;
	background-color: #3882f6;
	border-radius: 8px;
}

.btn-call {
	align-items: center;
	border: 2px solid white;
}

/* Footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px 0 32px 0;
	color: #f9faf8;
	background-color: #1f2937;
}
